{% extends 'base.html.twig' %}

{% block title %}New IceCream{% endblock %}

{% block body %}

    <h1>Create new Burger!</h1>

    {% include 'burger_con/_form.html.twig' with {'form': form} only %}

{% endblock %}